body{
	margin:0;
	padding:0;
	font-family:"PT Sans", Arial, sans-serif;
	color:black;
	background-color:#ffffff;	
}

a{
	text-decoration:none;
	color:#ffffff;
}

.contacts p{
	color:#32425c;
}

h1, .contacts .phone{
	color:#ee3643;
}

header{
	background-color:#f4f7f9;
}

header.inner{
	background-color:#f2f6f8;
}

header>ul{
	background-color:#293449;
	color:#ffffff;
}

.main-nav{
	background-color:#32425c;
	color:#ffffff;
}

.logo{
	background-color:#ee3643;
	text-transform:uppercase;
}

.order{
	background-color:#63a63e;
}

.promo a{
	text-transform:uppercase;
}

.matherials{
	background-color:#ffbf47;
}

.instrument{
	background-color:#3bbce3;
}

.technics{
	background-color:#dc91d8;
}
	
.discount{
	background-color:#8ed78f;
}	

.delivery{
	background-color:#ffc047;
}

.caption{
	background-color:#f9f5f0;
	color:#32425c;
}

.inner .caption{
	background-color:#f2f6f8;
}

.caption a{
	background-color:#ee3643;
	text-transform:uppercase;
}

footer{
	background-color:#32425c;
	color:#ffffff;
}

.copyright{
	background-color:#293449;
}

.inner .basket {
	background-color:#ee3643;
}

.footer-nav-categories a{
	color:#f1c77e;
}

.feedback a{
	color:#ffd180;
}

ul{
	list-style:none;
}