/*Общая стилизация*/
body{
		margin:0;
		padding:0;
		font-family:"Cuprum", Arial, sans-serif;
		color:black;
		background-color:#ffffff;
		display:flex;
		flex-direction:column;
		width:1200px;
	}
a{
		text-decoration:none;
		color:#ffffff;
	}
ul{
	list-style:none;
	margin:0;
	padding:0;
	font-size:17px;
	display:flex;
	flex-direction:row;
}
/*Header*/
header{
	background-color:#f4f7f9;
	display:flex;
	flex-direction:column;
	height:320px;
}	
	/*main-nav*/
	.main-nav{
		background-color:#32425c;
		color:#ffffff;
		border-bottom:5px solid #293449;
		height:55px;
		width:940px;
		align-self:center;
	}
	.main-nav ul{
		height:100%;
		display:flex;
	}
	.main-nav li{
		flex-grow:1;
		display:flex;
		justify-content:center
	}
	.main-nav a{
		line-height:55px;
	}
	.main-nav li:hover{
		background-color:#293449;
	}
	.main-nav li:active{
		background-color:#1d2739;
		opacity:0.5;
	}

.user-nav{
	background-color:#293449;
	color:#ffffff;
	display:flex;
	height:42px;
}
h1, .contacts .phone{
	color:#ee3643;
}
h1{
	font-style:italic;
	font-size:16px;
	line-height:23px;
}
.logo{
	background-color:#ee3643;
	text-transform:uppercase;
	font-size:24px;
	border-bottom:5px solid #b52933;
	width:220px;
	text-align:center;
	margin-left:130px;
	height:42px;
}
.logo:hover{
	background-color:#ca2c37;
	border-bottom:5px solid #9a212a;
}
.logo:active{
	background-color:#BA2732;
	border-bottom:5px solid #8e1e26;
}
header input[type="search"]{
	border:none;
	background:transparent;
	color:#ffffff;
}
header input[type="submit"]{
	background:url("../img/svg/icon-search.svg") no-repeat;
	border:none;
	opacity:0.5;
}
.contacts p{
	color:#32425c;
	font-size:14px;
}
h1{
	font-size:16px;
	line-height:23px;
	font-style:italic;
}
.bookmarks::before{
	content:url("../img/svg/icon-bookmark.svg");
}
.basket::before{
	content:url("../img/svg/icon-cart.svg");
}
.phone::before{
	content:url("../img/svg/icon-phone.svg");
}
h1, .contacts .phone{
	color:#ee3643;
}
.contacts .phone{
	font-size:21px;
}
.inner header{
	background-color:#f2f6f8;
}
header>ul{
	background-color:#293449;
	color:#ffffff;
}
.order{
	background-color:#63a63e;
}
.order:hover{
	background-color:#5fbb2d;
}
.order:active{
	opacity:0.5;
}
.inner .basket {
	background-color:#ee3643;
}
.profile a{
	color:#000000;
	font-size:21px;
}
.profile a:hover{
	color:#ee3643;
}
.profile a:active{
	color:#b2b2b2;
}
.sign-in::before{
	content:url("../img/svg/icon-login.svg");
}
/*Footer*/
footer{
	display:flex;
	flex-direction:column;
	background-color:#32425c;
	color:#ffffff;
}
footer .logo{
	font-size:30px;
}
footer ul{
	font-size:18px;
}
footer>p{
	font-size:18px;
}
.copyright{
	font-size:16px;
	line-height:18px;
	background-color:#293449;
}
.footer-nav-categories a{
	color:#f1c77e;
}
.feedback a{
	color:#ffd180;
}
.feedback a:active{
	color:#e13643;
	opacity:1;
}
footer a:hover{
	text-decoration:underline;
}
footer a:active{
	text-decoration:none;
	opacity:0.5;
}
/*Main*/
main{
	display:flex;
	flex-direction:column;
}
.caption{
	background-color:#f9f5f0;
	height:89px;
	padding:0 25px;
	margin:20px 0;
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.caption h2{
	color:#32425c;
	text-transform:uppercase;
	font-weight:normal;
	font-size:30px;
}
.inner .caption{
	background-color:#f2f6f8;
}
.caption a{
	background-color:#ee3643;
	text-transform:uppercase;
	font-size:14px;
	width:253px;
	line-height:40px;
	text-align:center;
}
.breadcrumbs a{
	font-family: "PT sans";
	color:#000000;
	font-size:13px;
	text-transform:uppercase;
} 
.specification h2{
	font-size:30px;
	text-transform:uppercase;
}	
.specification p{
	font-size:13px;
	line-height:24px;
}
/*catalog-form/filters*/
.filters legend{
	font-size:17px;
	font-weight:bold;
	font-family: "PT Sans"; 
	text-transform:uppercase;
}
.filters label{
	font-family:"PT Sans";
	font-size:15px;
	text-transform:uppercase;
}
.filters button{
	background:none;
	border:1px solid #e5e5e5;
	font-family:"PT Sans";
	font-size:13px;
	text-transform:uppercase;
}
/*promo*/
.promo h3{
	font-size:24px;
	font-weight:bold;
	color:#ffffff;
}
.promo a{
	text-transform:uppercase;
	font-size:14px;
}
.matherials{
	background-color:#ffbf47;
}
.matherials::after{
	content:url("../img/svg/icon-1.svg")
}
.instrument{
	background-color:#3bbce3;
}
.instrument::after{
	content:url("../img/svg/icon-2.svg");
}
.technics{
	background-color:#dc91d8;
}
.technics::after{
	content:url("../img/svg/icon-3.svg");
}
.discount{
	background-color:#8ed78f;
}	
.discount::after{
	content:url("../img/svg/icon-4.svg");
}
.delivery{
	background-color:#ffc047;
}
.delivery::after{
	content:url("../img/svg/icon-5.svg");
}
.promo-slider h3{
	font-size:36px;
	font-weight:bold;
	text-transform:uppercase;
}
.promo-slider p{
	font-size:18px;
	color:#ffffff;
	
}
.promo-slider .slide-1{
	background-image:url("../img/slider-1.jpg");
	background-repeat:no-repeat;
}
.promo-slider .slide-2{
	background-image:url("../img/slider-2.jpg");
	background-repeat:no-repeat;
}
.promo-slider a{
	background-color:#ee3643;
}
.promo-slider a:hover{
	background-color:#ca2c37;
}
.promo-slider a:active{
	background-color:#ba2732;
}
/*products*/
.products-item{
	font-family:"PT Sans";
	font-weight:bold;
	font-size:17px;
	color:#000000;
	border:1px solid #e5e5e5;
}
.products-item h3{
	text-align:center;
	font-size:18px;
	line-height:20px;
	margin:0 30px;
}
.products-item .old-price{
	text-decoration:line-through;
	color:#aaaaaa;
	text-align:center;
	height:10px;
}
.products-item .actual-price{
	color:#ffffff;
	background:url("../img/svg/red-button.svg") no-repeat;
	background-position:50% 50%;
	text-align:center;
	line-height:38px;
}
.products-item img{
	margin:10px 0;
}
.action{
	display:none;
	text-transform:uppercase;
}
.action .sale{
	font-size:14px;
	background-color:#63a63e;
	border:none;
	border-bottom:3px solid #367315;
	color:#ffffff;
}
.action .sale:hover{
	background-color:#5fbb2d;
}
.action .sale:active{
	background-color:#518534;
	border-bottom:3px solid #518534;
}
.action .sale::before{
	content:url("../img/svg/icon-cart.svg");
	opacity:0.5;
}
.action .to-bookmarks{
	font-size:14px;
	background-color:#ffffff;
	border:3px solid #63a63e;
	color:#32425c;
}
.action .to-bookmarks:hover{
	border:3px solid #32425c;
}
.action .to-bookmarks:active{
	border:3px solid #c1c6ce;
	color:#c1c6ce;
}
.popular-item{
	display:flex;
	flex-direction:column;
	width:940px;
	align-self:center;
}
.items{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	flex-wrap:wrap;
}
.products-item{
	width:218px;
}
	/*services*/
.services{
	background-color:#f4f7f9;
}
.services h2{
	font-size:30px;
}
.services p{
	font-size:13px;
	line-height:24px;
}
.services ul li{
	color:#ffffff;
	background-color:#32425c;
}
.services ul li:hover{
	background-color:#293449;
}
.services ul li.active{
	color:#32425c;
	background-color:#ffffff;
}
.services div h3{
	font-size:32px;
	color:#32425c;
}
.services div p{
	font-size:13px;
	line-height:24px;
}
/*about-us*/
.about-us h2{
	font-size:30px;
	text-transform:uppercase;
}
.about-us p{
	font-size:13px;
	line-height:24px;
}
.about-us a{
	background-color:#ee3643;
	text-transform:uppercase;
}
/*paginator*/
.paginator .actual-page{
	background-color:#ee3643;
}
.paginator li{
	border:1px solid #e5e5e5;
} 
.paginator a{
	color:#000000;
	font-size:13px;
	font-family:"PT Sans";
	text-transform:uppercase;
}
/*pop-fabricator*/
.pop-fabricator{
	align-self:center;
}
.pop-fabricator ul{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	width:940px;
	padding:0;
}
.pop-fabricator li{
	border: 1px solid #e5e5e5;
	align-self:center;
	width:218px;
	height:143px;
	margin-bottom:20px;
}
.pop-fabricator ul a{
	display:flex;
	width:100%;
	height:100%;
}
.pop-fabricator img{
	margin:auto;
}
/*popups*/
.modal-write-us label{
	font-size:18px;
}
.modal-write-us input[type="submit"]{
	color:#ffffff;
	background-color:#ee3643;
	text-transform:uppercase;
}
button.modal-write-us{
	font-size:14px;
	text-transform:uppercase;
	color:#ffffff;
	background-color:#ee3643;
}